services:
  main:
    build: .
    network_mode: "host"
    depends_on:
      redis:
        condition: service_healthy
      postgres:
        condition: service_healthy
    environment:
      REDIS_CONN_STR: ${REDIS_CONN_STR}
      PG_CONN_STR: ${PG_CONN_STR}
    logging:
      driver: "local"
    restart: on-failure

  redis:
    image: "redis:8-alpine"
    network_mode: "host"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1s
      timeout: 3s
      retries: 5

  postgres:
    image: "postgres:18-alpine"
    network_mode: "host"
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 1s
      timeout: 3s
      retries: 5
